<% layout('layouts/boilerplate')%>
    <h1> <%= place.title %></h1>
    <h2> <%= place.location %></h2>
    <img src="<%= place.image %>" alt="">
    <p><%= place.description %></p>
    <p>  <a href="/places/<%= place._id %>/edit">Edit</a> </p>
    <p>
        <form action="/places/<%=place._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/places">All Places</a>
    </footer>
